@mixin slide_animation {
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -moz-transition: -moz-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -o-transition: -o-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

@mixin slide_translate($value) {
  -webkit-transform: translate($value);
  transform: translate($value);
}

.transparent-input {
  border: none !important;
  border-bottom: 1px solid #CCC !important;
}

.schedule-elements {
  ul {
    list-style: none !important;
    padding-left: 0px !important;
  }
  .ant-select {
    width: 100%;
  }
  .ant-select-selection--multiple {
    border: 0px #fff;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 0px;
  }
  .ant-select-open .ant-select-selection {
    border-color: #fff;
    box-shadow: none;
  }
  .btn-one-time-link {
    background: #f7f7f7;
    width: 100%;
    .fa {
      margin-right: 5px;
    }
  }
  .ant-select-search__field {
    margin-left: 5px;
  }
}

.width-99-percent {
  width: 99% !important;
}

#dashboard-react {
  min-height: 100%;
  max-height: 100%;
  background: #f2f2f2;

  .date-range-vs {
    margin-right: 5px;
  }

  .red {
    color: red !important;
    background: transparent !important;
  }
  .green {
    color: green !important;
    background: transparent !important;
  }

  .hidden {
    display: none;
  }

  .text-left {
    text-align: left;
  }

  .auto-save-button {
    font-size: 12px;
    margin-right: 10px;
  }

  .loading-element {
    position: absolute;
    height: 100%;
    width: calc(100% - 10px);
    z-index: 10;
    background: rgba(255, 255, 255, 0.6);
    .loading-space {
      .top {
        position: absolute;
        top: 0px;
      }

      .loadingProgressParent{
        width:100%;
        height: 3px;
        overflow:hidden;
        background-color:rgba(232,230,250,0.42);
        margin:auto;
        border-radius: 1px;
          -o-border-radius: 1px;
          -ms-border-radius: 1px;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
      }

      .loadingProgressG{
        background-color:rgb(179,235,245);
        margin-top:0;
        margin-left:-100%;
        animation-name:bounce_loadingProgressG;
          -o-animation-name:bounce_loadingProgressG;
          -ms-animation-name:bounce_loadingProgressG;
          -webkit-animation-name:bounce_loadingProgressG;
          -moz-animation-name:bounce_loadingProgressG;
        animation-duration:1.5s;
          -o-animation-duration:1.5s;
          -ms-animation-duration:1.5s;
          -webkit-animation-duration:1.5s;
          -moz-animation-duration:1.5s;
        animation-iteration-count:infinite;
          -o-animation-iteration-count:infinite;
          -ms-animation-iteration-count:infinite;
          -webkit-animation-iteration-count:infinite;
          -moz-animation-iteration-count:infinite;
        animation-timing-function:linear;
          -o-animation-timing-function:linear;
          -ms-animation-timing-function:linear;
          -webkit-animation-timing-function:linear;
          -moz-animation-timing-function:linear;
        width:100%;
        height:8px;
      }

      @keyframes bounce_loadingProgressG{
        0%{
          margin-left:-100%;
        }

        100%{
          margin-left:100%;
        }
      }

      @-o-keyframes bounce_loadingProgressG{
        0%{
          margin-left:-100%;
        }

        100%{
          margin-left:100%;
        }
      }

      @-ms-keyframes bounce_loadingProgressG{
        0%{
          margin-left:-100%;
        }

        100%{
          margin-left:100%;
        }
      }

      @-webkit-keyframes bounce_loadingProgressG{
        0%{
          margin-left:-100%;
        }

        100%{
          margin-left:100%;
        }
      }

      @-moz-keyframes bounce_loadingProgressG{
        0%{
          margin-left:-100%;
        }

        100%{
          margin-left:100%;
        }
      }
    }
  }

  .tiles-widget-container {
    height: 100%;
    padding: 5px;
    .widget-title {
      background: transparent;
      font-size: 15px;
      font-weight: 500;
      margin-top: 0px;
      height: 35px;
      padding: 8px 10px 0px 10px;
      cursor: -webkit-grab;
      &:focus {
        cursor: -webkit-grabbing;
      }

      .pagination-block {
        margin-left: 30px;
        margin-top: -3px;

        .icons {
          cursor: pointer;
        }

        .page-number {
          margin-top: -4px;
          margin-right: 4px;
        }
      }
    }
    .metric-tiles {
      height: calc(100% - 33px);
      overflow: hidden;
    }
    .metric-tile {
      padding: 1px;
      float: left;
      display: inline;
      background: white;
      .metric-block {
        height: 100%;
        border: 1px solid #f2f2f2;
        .title {
          background: #f2f2f2;
          display: block;
          padding: 1px;
          padding-left: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .value {
          display: block;
          font-size: 24px;
          font-weight: 100;
          padding: 10px;
        }
        .compare {
          display: block;
          font-size: 14px;
          font-weight: 100;
          padding: 10px;
          margin-top: -20px;
        }
        .percentage {
          display: block;
          font-size: 12px;
          font-weight: 100;
          padding: 10px;
          margin-top: -20px;
          .fa {
            margin-right: 1px;
          }
        }
      }
    }
  }
  .text-right {
    text-align: right;
  }
  .dim-text {
    opacity: 0.7;
  }
  height: calc(100% - 30px);
  .height-100 {
    height: calc(100% - 30px) !important;
  }
  .react-dashboard-container {
    height: 100%;
    .reports-list {
      position: fixed;
      height: 100%;
      background: #374551;
      color: #8b949b;
      z-index: 999;
      overflow: scroll;
      @include slide_animation;
      @include slide_translate(0);
      .sidebar {
        .heading {
          height: 40px;
          line-height: 40px;
        }
        .item {
          line-height: 40px;
          cursor: pointer;
          border-bottom: 1px solid #ccc;
          &:hover {
            background: #f2f2f2;
          }
        }
        .ant-collapse {
          background: #28333C;
          border: none;
          .ant-collapse-header {
            color: white;
            font-size: 13px;
            opacity: 0.75;
            .arrow {
              color: white;
            }
          }
          .ant-collapse-content {
            background-color: #374551;
            color: white;
            opacity: 0.75;
            padding: 0;
            .ant-collapse-content-box {
              padding: 0;
              .item {
                border-bottom: 1px solid rgba(255, 255, 255, 0.56);
                padding-left: 31px;
                font-size: 12px;
                &:hover {
                  background: rgba(51, 64, 76, 0.76);
                }
              }
              .anticon {
                font-size: 10px;
                margin-top: 14px;
              }
            }
          }
          .ant-collapse-item {
            border-top: none;
          }
        }
      }
    }
    .report-list-hide {
      @include slide_animation;
      @include slide_translate(-100%);
    }
    .report-container {
      height: 100%;
      position: fixed;
      right: 0;
      @include slide_animation;
      @include slide_translate(100%);
    }
    .report-edit {
      position: fixed;
      height: 100%;
      width: 100%;
      padding: 0px;
      padding-bottom: 40px;
      right: 0px;
      background: #f9f9f9;
      z-index: 100;
      overflow-y: scroll;
      box-shadow: -3px 2px 13px rgba(153, 153, 153, 0.7);
      .search-bar {
        padding: 10px;
        .fa {
          margin-top: 5px;
          font-weight: 100;
          margin-right: 15px;
          cursor: pointer;
        }
      }
      .filters-block {
        .select-block {
          padding: 15px;
          .select-options {
            margin-bottom: 20px;
            .label {
              font-size: 13px;
              color: #333;
            }
            .apply-filter-button {
              width: 100%;
            }
            .input-filter {
              width: 100%;
              padding: 5px;
            }
          }
        }
      }
      .dates-block {
        .presets {
          padding: 10px;
          .preset {
            padding: 5px;
            border: 1px solid #f2f2f2;
            cursor: pointer;
            &:hover {
              background: #f2f2f2;
            }
          }
        }
      }
      .metricsPanel {
        .metrics-list {
          padding-bottom: 60px;
          .metric {
            padding: 10px;
            border-bottom: 1px solid #f2f2f2;
            &:hover {
              background: #f2f2f2;
              cursor: pointer;
            }
            .select-metric {
              display: inline-block;
              width: 80%;
            }
            .metric-trend {
              display: inline-block;
              width: 10%;
            }
          }
        }
        .metric-visulization-type {
          margin-left: 10px;
          top: -1px;
        }
        .new-metric-block {
          position: fixed;
          height: 50px;
          width: 100%;
          line-height: 50px;
          bottom: 45px;
          cursor: pointer;
          color: #666;
          text-align: center;
          border-top: 1px solid #ccc;
          box-shadow: 3px -3px 9px #ccc;
          background: #fcfcfc;
          &:hover {
            color: #000;
          }
        }
        .derived-metrics {

        }
      }
      .comparison-icon {
        margin-right: 3px;
        margin-top: 2px;
        color: #b8b3b3;
      }
      .edit-widget-panel {
        .edit-widget-head {
          background: #f9f9f9;
          position: fixed;
          width: 100%;
          z-index: 100;
        }
        .edit-widget-body {
          padding-top: 120px;
        }
        width: 100%;
        .heading {
          color: #4f5765;
          font-size: 15px;
          cursor: pointer;
          padding: 12px;
          margin-bottom: 10px;
          padding-left: 10px;
          .fa {
            cursor: pointer;
          }
          .fa-arrow-left {
            margin-right: 10px;
          }
          .fa-copy {
            margin-right: 7px;
          }
        }
        .greyed-out {
          color: #999;
        }
        .date-block {
          .no-date-selected {
            padding: 5px;
            border: 1px dotted #999;
            font-size: 12px;
            cursor: pointer;
            &:hover {
              border: 1px dotted #000;
            }
          }
        }
        .item-field {
          margin-top: 10px;
          padding: 10px;
          padding-bottom: 40px;
          border-bottom: 1px solid #f2f2f2;
          .btn-custom {
            background: #87b8fd;
            border: 5px;
            outline: none !important;
            color: white;
            font-weight: 800;
            padding: 1px 10px 1px 10px;
            margin-bottom: 10px;
            border-radius: 2px;
          }
          .name {
            font-size: 12px;
            margin-bottom: 5px;
            font-weight: 800;
          }
          .fields {
            border: 1px solid rgb(230, 230, 230);
            padding: 10px;
            background: #f9f9f9;
            font-size: 12px;
            margin-bottom: 5px;
            .box {
              padding: 4px 6px 4px 6px;
              margin-right: 8px;
              color: white !important;
              font-weight: 800;
              margin-top: -3px;
              text-align: center;
              display: block;
              float: left;
              max-width: 30px !important;
              max-height: 25px !important;
              width: 30px !important;
              height: 25px !important;
              border-radius: 3px;
            }
            .green {
              background: #16c484 !important;
            }
            .blue {
              background: #17bbd7 !important;
            }
            &:hover {
              cursor: pointer;
              background: #f2f2f2;
            }
            .fa {
              color: #CCC;
              cursor: pointer;
              &:hover {
                color: #666;
              }
            }
            .fa-thumb-tack {
              margin-right: 5px;
            }
            .selected {
              color: #87b8fd;
            }
            .conditional-picker-button {
              padding: 0px 5px 0px 5px;
              font-size: 10px;
              background: #f2f2f2;
            }
            .custom-style {
              padding: 10px;
              &:hover {
                background: #f2f2f;
              }
            }
            .height-input {
              width: 40px;
              text-align: right;
              padding-right: 0px;
              margin-right: 0px;
              border: none;
            }
          }
          .chart-axis-align {
            float: right;
            margin: 0px -29px 7px 0px;
            .ant-btn:first-child:not(:last-child) {
              border-top-left-radius: 2px;
              border-bottom-left-radius: 2px;
              padding: 0px 4px 0px 6px;
            }
            .ant-btn:last-child:not(:first-child) {
              border-top-right-radius: 2px;
              border-bottom-right-radius: 2px;
              padding: 0px 6px 0px 4px;
            }
            .ant-btn-primary {
              background-color: #87B8FD;
              border-color: #87B8FD;
            }
          }
          .delete-axis {
            margin: 4px 0 0 57%;
            color: #a2a2a2;
          }
          .no-hover {
            background-color: #f9f9f9 !important;
          }
          .force-hover {
            &:hover {
              background-color: #f2f2f2 !important;
            }
          }
        }
        .split-panel {
          div {
            width: 50%;
            text-align: center;
            display: inline-block;
            padding: 10px;
            border-bottom: 1px solid #CCC;
            cursor: pointer;
          }
        }
        .style-tabs {
          .ant-tabs {
            width: 100%;
          }
          .ant-tabs-tab-active {
            color: #108ee9;
            box-shadow: 0 0 black;
            width: 57% !important;
          }
          .ant-tabs-nav .ant-tabs-tab {
            width: 57% !important;
            text-align: center;
          }
        }
      }
      .editable-panel-heading {
        color: #666;
        font-size: 12px;
        padding: 15px;
      }
      .heading {
        padding: 5px;
        padding-left: 10px;
      }
      .heading-custom {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      .widgets {
        .item {
          padding: 10px;
          height: 130px;
          cursor: pointer;
          text-align: center;
          font-size: 10px;
          .image-container {
            padding: 10px;
            height: 85px;
            border: 1px solid #e5e3e3;
            background: white;
            .padding-icons {
              padding: 10px 0 0 7px;
            }
          }
          .text-container {
            padding-top: 15px;
            height: 30px;
          }
          &:hover {
            background: #f2f2f2;
            font-weight: 800;
          }
        }
      }
    }
    .report-show {
      @include slide_animation;
      @include slide_translate(0);
    }
    @media screen and (min-width: 100px)  and (max-width: 1200px) {
      .report-show {
        width: 17%;
        top: 42px;
      }
    }
    .table-container {
      height: calc(100% - 10px);
      background: transparent;
      .table-container-inner {
        height: calc(100% - 25px)
      }
    }
    .report-view {
      background: #fff;
      .padding-container {
        padding: 0px 20px 20px 20px
      }
      .report-view-container {
        background: #fff;
        @include slide_animation;
        @include slide_translate(20.1%);
        position: absolute;
        width: 99%;
        .widget {
          background: transparent;
          border: 0.5px solid rgba(235, 235, 235, 0.6);
        }
        .widget-editable {
          border: 1px solid #ddd;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          &:hover {
            border: 1px solid #7BAAED;
            -webkit-box-shadow: 2px 0px 25px -1px rgba(123, 170, 237, 0.86);
            -moz-box-shadow: 2px 0px 25px -1px rgba(123, 170, 237, 0.86);
            box-shadow: 2px 0px 9px -1px rgba(123, 170, 237, 0.4);
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
          }
        }
        .selected-widget {
          border: 1px solid #7BAAED;
          -webkit-box-shadow: 2px 0px 25px -1px rgba(123, 170, 237, 0.86);
          -moz-box-shadow: 2px 0px 25px -1px rgba(123, 170, 237, 0.86);
          box-shadow: 2px 0px 9px -1px rgba(123, 170, 237, 0.4);
        }
      }
      @media screen and (min-width: 100px)  and (max-width: 1200px) {
        .report-view-container {
          width: 83%;
        }
      }
      .report-view-container-show {
        @include slide_animation;
        @include slide_translate(0);
      }
      .heading {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        font-weight: 800;
        border-bottom: 1px solid #ddd;
        .btn-default {
          font-size: 11px;
          border-radius: 2px;
          padding: 7px 12px 7px 12px;
          background: #fcfcfc;
          margin-right: 10px;
          border: 1px solid #f2f2f2;
          font-family: 'Proxima-font-semibold';
          .fa,
          .date-range-toggle {
            margin-right: 5px;
          }
        }
      }
      .tabs-wrapper {
        padding-left: 0px;
        padding-bottom: 0px;
        .ant-tabs-nav .ant-tabs-tab {
          height: inherit;
        }
        .nav-sheets {
          li {
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
          }
          .active {
            border-bottom: 3px solid #38b7e6;
          }
        }
        .btn-new-sheet {
          background: #FCFCFC;
          border-radius: 2px;
          border-color: #f2f2f2;
        }
        .tab-delete {
          font-size: 10px;
          margin: 4px -10px 0 15px;
          .fa-clone {
            margin: 0 3px 0 -4px;
          }
        }
      }
      .custom-grid-wrapper {
        margin-top: -25px;
        overflow-x: hidden;
        overflow-y: scroll;
        background: #fff;
      }
      .edit-sheet-name {
        position: absolute;
        top: 3px;
        width: 92%;
        left: 11px;
        input {
          height: 100%;
        }
      }
      .edit-view-switch {
        margin-top: -2px;
        .edit {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        .view {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
        .ant-btn {
          background: #FCFCFC;
          border-color: #f2f2f2;
        }
        .ant-btn-primary {
          background: #87B8FD;
          border-color: #87B8FD;
        }
      }
      .settings-btn-group {
        margin-right: 15px;
        .ant-btn {
          background-color: #FCFCFC;
          border-color: #f2f2f2;
          font-size: 14px;
          border-radius: 2px;
        }
        .ant-btn:first-child:not(:last-child) {
          border-bottom-left-radius: 2px;
          border-top-left-radius: 2px;
        }
        .ant-btn:last-child:not(:first-child) {
          border-bottom-right-radius: 2px;
          border-top-right-radius: 2px;
        }
      }
      .heading {
        .anticon-edit {
          margin-left: 4px;
          font-size: 16px;
          color: #9F9F9F;
        }
      }
      .translate0 {
        @include slide_translate(0);
      }
    }
  }
  .btn-create-report {
    background: transparent;
    color: #72B9E2;
    border-color: #72B9E2;
    width: 75%;
    margin: 20px;
    border-radius: 0;
    padding: 5px;
    font-size: 12px;
  }
}

.report-settings {
  margin: 30px 5% 30px 5%;
  input {
    width: 100%;
    border-radius: 2px;
    border-color: #edf0f1;
    height: 35px;
  }
  .ant-select-selection--single, .ant-select-selection--multiple {
    width: 100%;
    border-radius: 2px;
    border-color: #edf0f1;
    min-height: 35px;
    padding: 4px 0 0 0;
    .ant-select-selection__rendered {
      list-style: none;
      padding: 0;
    }
  }
  label {
    margin-top: 2%;
    color: #4E5664;
  }
}

.conditional-formatting-rules {
  .rule-row {
    padding: 20px;
    margin-bottom: 5px;
  }
}

.ag-grid-custom {
  font-family: 'Proxima-font-Semibold' !important;
  font-size: 13px !important;
  font-weight: 100 !important;
  color: #565656 !important;
  .header-element {
    width: 100% !important;
    height: 100% !important;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: 800;
    cursor: pointer;
    .name {
      &:hover {
        cursor: pointer;
      }
    }
    .sort-icon {
      margin-left: 5px;
    }
    .total {
      margin-right: 5px;
    }
  }
  .ag-react-container {
    height: 100%;
    width: 100%;
  }
  .metric-cell {
    height: 100%;
    width: 100%;
    text-align: right;
    .inner-cell {
      height: 100%;
      width: 100%;
      padding: 7px;
      line-height: 21px;
      .percentage {
        font-size: 10px;
        margin-left: 5px;
      }
    }
  }
  .dimension-cell {
    height: 100%;
    width: 100%;
    padding: 7px;
    line-height: 21px;
    div {
      height: 100%;
    }
    .fa {
      margin-right: 10px !important;
      cursor: pointer;
    }
  }
  .ag-cell {
    white-space: normal !important;
    padding: 0px !important;
  }
  .color-picker-button {
    padding: 10px !important;
    height: 20px !important;
    width: 20px !important;
    margin-top: -2px !important;
  }
}

.color-picker-container {
  background: transparent;
  border: none;
  box-shadow: none;
}

.tab-fix {
  height: inherit;
}
