.header {
  img {
    width: 40px;
    margin-top: -10px;
  }
  .userInfo {
    float: right;
    margin: 13px 21px 0px 0;
    font-size: 17px;
    button {
      margin: -1px 5px 0 16px;
    }
  }
}
