.login {
  margin-top: 2%;
  img {
    width: 80px;
  }
  h1 {
    font-weight: 200;
    letter-spacing: 1px;
    color: #9f9d9d;
  }
  .login-form {
    margin-top: 2%;
    border: 1px solid gainsboro;
    padding: 43px 37px 43px 37px;
    border-radius: 5px;
    max-width: 400px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .ant-select {
    text-align: left;
    .ant-select-selection__rendered {
      line-height: 21px;
    }
  }
}
