$color-remove: #BB9595;
$color-remove-hover: darken($color-remove, 5%);

.adwyze-status-btn {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  width: 28px;
  height: 16px;
  border-radius: 8px;
  padding: 1px;
  vertical-align: top;

  .inner {
    background-color: #fff;
    border-radius: 50%;
    height: 14px;
    width: 14px;
  }
}

.adwyze-status-btn.active {
  background-color: #6CC16E;
  padding-left: 13px;

  &:hover {
    background-color: darken(#6CC16E, 5%);
  }
}

.adwyze-status-btn.paused {
  background-color: #bdc1c9;

  &:hover {
    background-color: darken(#bdc1c9, 5%);
  }
}

.adwyze-status-btn.others {
  background-color: #bdc1c9;
  padding-left: 13px;
  opacity: 0.4;
  cursor: default;
}

.adwyze-delete-btn {
  font-size: 150%;
  margin-top: -4px;
  cursor: pointer;
  color: $color-remove;

  &:hover {
    color: $color-remove-hover;
  }
}

.adwyze-status-loader {
  background: url(ajax-loader-sm.gif) no-repeat 50% 50%;
  width: 28px;
  height: 16px;
  visibility: visible;
  border: 1px solid #ABACAE;
  display: block;
  border-radius: 8px;
}

.stats-filters-wrapper {
  .filters-form {
    padding: 8px;
    border: 1px solid #e5e5e5;
  }

  .filter-condition {
    margin-right: 10px;
    float: left;
    padding: 2px 6px;
    padding-right: 0;
    border-radius: 2px;
    border: 1px solid #DAE2EA;
    background-color: #E5ECF3;
    margin-top: 1px;
    margin-bottom: 1px;

    .condition-value {
      width: 120px;
    }

    .remove-filter-condition {
      cursor: pointer;
      color: #BB9595;
      padding: 2px;
      padding-top: 5px;
    }

    .operator-select.input-sm {
      height: 26.5px;
      line-height: 18px;
      -webkit-appearance: none;
      -webkit-border-radius: 2px;
    }

    .condition-value {
      height: 26.5px;
    }

    .input-sm {
      box-shadow: none;
    }

    .input-sm,
    .btn-sm {
      padding: 2px 10px;
      border-color: #ddd;
      font-size: 12px !important;
    }

    /* This will turn off number input spinners */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }

  .add-filter-condition {
    padding: 6px 8px !important;
    height: 30px;
    margin-right: 7px;
  }
}

.react-custom-css {
  // custom style over bootstrap css
  .form-filter,
  .input-sm,
  .btn-sm {
    border-radius: 2px !important;
    padding: 5px 10px;
  }

  .btn-default {
    color: #555;
    border-radius: 2px !important;
  }

  .btn-primary {
    background-color: #7bd07d;
    border-color: #6CC16E;

    &:hover {
      background-color: #6CC16E;
    }
  }

  .btn-secondary {
    background-color: #E2E4EA;
    border: 1px solid #D6D7E2;
    color: #777;

    &:hover {
      background-color: #D7DAE2;
    }
  }

  .btn-tertiary {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #777;

    &:hover {
      border-color: #ccc;
    }
  }

  .btn-primary-custom {
    // background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e7e8), color-stop(0.5, #fff));
    border: 1px solid #dadae5;
    background-color: #e8e8ee;
    font-family: 'Proxima-font-semibold';

    &:hover {
      border: 1px solid #dadae8;
      background-color: #dadae8;
    }
  }

  .ant-input,
  .ant-select-selection,
  .ant-btn-lg {
    border-radius: 2px;
  }

  .ant-select-dropdown {
    z-index: 9000;
  }

  // react-select css customization
  .Select {
    .Select-control {
      font-size: 85%;
      height: 24px;
      border-radius: 2px;
    }

    .Select-menu-outer {
      z-index: 10000;
      font-size: 85%;
    }

    .Select-input {
      padding: 0 !important;
      height: 24px;
    }

    .Select-input,
    .Select-input input {
      width: 80% !important;
    }

    .Select-input input {
      text-indent: 10px;
    }
  }

  .Select--single > .Select-control .Select-value,
  .Select-placeholder {
    line-height: 24px;
  }

  .Select--multi > .Select-control {
    height: 24px;
  }

  .Select--multi .Select-value {
    margin-left: 2px;
    margin-top: 2px;
  }

  .Select--multi {
    .Select-value {
      float: left;
    }

    .Select-input {
      width: auto !important;
      max-width: 80px !important;
    }
  }

  .Select-placeholder {
    height: 24px;
  }
}
